.article-body h3 {
  font-family:
    'PT Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.article-body p strong {
  font-weight: 700;
}

.article-body p {
  line-height: 1.85rem;
  margin-bottom: 0.75rem;
}

.article-body ul {
  margin: 0 0 0.75rem 1.5rem;
  list-style: disc;
}

.article-body ol {
  margin: 0 0 0.75rem 1.5rem;
  list-style: decimal;
}

.article-body a {
  color: hsl(var(--primary));
}

.article-body a:hover {
  text-decoration: underline;
}

.video-container > * {
  width: 100% !important;
  height: 100% !important;
}

.markdown-body * {
  line-height: var(--leading-relaxed);
}

.markdown-body h3 {
  font-size: 1.25rem;
}

.markdown-body p {
  margin-bottom: calc(var(--spacing) * 4);
}

.markdown-body p strong {
  font-weight: bold;
  font-size: 1rem;
}

.markdown-body ol,
.markdown-body ul {
  margin-left: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  list-style: bullet;
  list-style-position: inside;
}

.markdown-body ol > li,
.markdown-body ul > li {
  margin-bottom: calc(var(--spacing) * 2);
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body table {
  border: 1px solid var(--text-foreground);
  margin-bottom: 1.5rem;
}

.markdown-body table thead {
  background-color: var(--muted);
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

.markdown-body table tbody {
  text-align: left;
  font-size: 0.8rem;
  vertical-align: top;
}

.markdown-body table thead th,
.markdown-body table tbody td {
  border: 1px solid var(--border);
  padding: 0.5rem;
}
